
doctype html
html
    head
        title Share A Video
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        block css
            link(rel='stylesheet', href='/resources/styling.css')
        block script
    body
        div.container
            h1 Share A Video
            if message
                p.message.message-class= message
            if mainmessage
                p.mainmessage.mainmessage-class!= mainmessage
            form(role='form', method='POST', action=action_url)
                div.form-group
                    label(for='title') Video Title:
                    input#title.form-control(type='text', placeholder='Video Title', name='title')
                div.form-group
                    label(for='url') Video Link:
                    input#url.form-control(type='text', placeholder='URL', name='url')
                button.btn(type='submit' class ="button") Share Video
